
.vs/BackRobotTDM/FileContentIndex/89347425-f72a-4ada-b0d5-891ab9447065.vsidx
.vs/BackRobotTDM/FileContentIndex/d940fa22-ca4f-46ab-8247-063705859246.vsidx
.vs/BackRobotTDM/FileContentIndex/dae0fc50-3ac3-4435-8c2d-d081cf946e2f.vsidx
.vs/BackRobotTDM/v17/.suo
.vs/BackRobotTDM/v17/.suo
BackRobotTDM/bin/Release/net6.0/publish
SAT/obj/Debug/
SAT/obj/Debug/
mSID/obj/Debug/
mSID/obj/Debug/net6.0/mSID.csproj.AssemblyReference.cache
mSID/obj/Debug/net6.0/mSID.assets.cache
ModelsNEnums/obj/Debug/
ModelsNEnums/obj/Debug/net6.0/ModelsNEnums.assets.cache
Modelos/obj/Debug/
Modelos/obj/Debug/net6.0/Modelos.assets.cache
BackRobotTDM/obj/Debug/
BackRobotTDM/obj/Debug/net6.0/BackRobotTDM.csproj.AssemblyReference.cache
BackRobotTDM/obj/Debug/net6.0/BackRobotTDM.assets.cache
BackRobotTDM/bin/Release/
*.vsidx
*.dll
*.pdb
*.cache
*.pdb
*.dll
.vs/BackRobotTDM/DesignTimeBuild/.dtbcache.v2
.vs/BackRobotTDM/FileContentIndex/0963767f-7730-4969-bf89-0e4da9a5a3c6.vsidx
.vs/BackRobotTDM/FileContentIndex/1ede7d64-d071-469f-8565-90afd86938c2.vsidx
.vs/BackRobotTDM/FileContentIndex/5bc8830e-9221-476e-b7dd-9c29e370ca3a.vsidx
.vs/BackRobotTDM/FileContentIndex/ba049a16-c752-4215-8139-d109695029fc.vsidx
.vs/BackRobotTDM/FileContentIndex/d8a9c98f-96b3-4b77-b591-fce96eb49fc3.vsidx
*.vsidx
*.pdb
*.dll
*.user
.vs/BackRobotTDM/v17/.suo
BackRobotTDM/obj/BackRobotTDM.csproj.nuget.dgspec.json
BackRobotTDM/obj/Debug/net6.0/BackRobotTDM.assets.cache
BackRobotTDM/obj/Debug/net6.0/BackRobotTDM.csproj.AssemblyReference.cache
BackRobotTDM/obj/Debug/net6.0/BackRobotTDM.csproj.CoreCompileInputs.cache
BackRobotTDM/obj/project.assets.json
BackRobotTDM/obj/project.nuget.cache
mSID/bin/Debug/net6.0/mSID.dll
mSID/bin/Debug/net6.0/mSID.pdb
mSID/obj/Debug/net6.0/mSID.csproj.AssemblyReference.cache
mSID/obj/Debug/net6.0/mSID.dll
mSID/obj/Debug/net6.0/mSID.pdb
SAT/obj/Debug/net6.0/SAT.assets.cache
SAT/obj/Debug/net6.0/SAT.csproj.AssemblyReference.cache
SAT/obj/Debug/net6.0/SAT.csproj.CoreCompileInputs.cache
SAT/obj/project.assets.json
SAT/obj/project.nuget.cache
SAT/obj/SAT.csproj.nuget.dgspec.json
BackRobotTDM/obj/Debug/net6.0/BackRobotTDM.csproj.AssemblyReference.cache
SAT/obj/Debug/net6.0/SAT.assets.cache
SAT/obj/Debug/net6.0/SAT.csproj.AssemblyReference.cache
BackrobotTDM/cache/*.pdf
BackrobotTDM/cache/rfcs/*.pdf